<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.4.1.slim.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/js_bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{user/header :: topBar}"></div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Wallet</th>
    </tr>
    </thead>
    <tbody th:each="i:${list}">
    <tr>
        <th scope="row" th:text="${i.getId()}"></th>
        <td th:text="${i.getName()}"></td>
        <td th:text="${i.getWallet()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>